.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}
.firefly::before,
.firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: black;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: #ffa07a;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw #ffd700;
  animation:
    drift ease alternate infinite,
    flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 13s;
}
.firefly:nth-child(1)::after {
  animation-duration: 13s, 9861ms;
  animation-delay: 0ms, 1322ms;
}

@keyframes move1 {
  0% {
    transform: translateX(21vw) translateY(34vh) scale(0.27);
  }
  7.6923076923% {
    transform: translateX(-49vw) translateY(44vh) scale(0.89);
  }
  15.3846153846% {
    transform: translateX(38vw) translateY(18vh) scale(0.8);
  }
  23.0769230769% {
    transform: translateX(38vw) translateY(-12vh) scale(0.67);
  }
  30.7692307692% {
    transform: translateX(36vw) translateY(-4vh) scale(0.69);
  }
  38.4615384615% {
    transform: translateX(40vw) translateY(44vh) scale(0.87);
  }
  46.1538461538% {
    transform: translateX(-37vw) translateY(-15vh) scale(0.32);
  }
  53.8461538462% {
    transform: translateX(1vw) translateY(5vh) scale(0.87);
  }
  61.5384615385% {
    transform: translateX(-38vw) translateY(0vh) scale(0.47);
  }
  69.2307692308% {
    transform: translateX(14vw) translateY(24vh) scale(0.54);
  }
  76.9230769231% {
    transform: translateX(-27vw) translateY(1vh) scale(0.26);
  }
  84.6153846154% {
    transform: translateX(28vw) translateY(-19vh) scale(0.89);
  }
  92.3076923077% {
    transform: translateX(49vw) translateY(-34vh) scale(0.54);
  }
  100% {
    transform: translateX(-20vw) translateY(20vh) scale(0.89);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 15s;
}
.firefly:nth-child(2)::after {
  animation-duration: 15s, 6334ms;
  animation-delay: 0ms, 1219ms;
}

@keyframes move2 {
  0% {
    transform: translateX(-8vw) translateY(31vh) scale(0.78);
  }
  10% {
    transform: translateX(44vw) translateY(1vh) scale(0.4);
  }
  20% {
    transform: translateX(22vw) translateY(-25vh) scale(0.86);
  }
  30% {
    transform: translateX(-27vw) translateY(-30vh) scale(0.37);
  }
  40% {
    transform: translateX(0vw) translateY(39vh) scale(0.41);
  }
  50% {
    transform: translateX(15vw) translateY(14vh) scale(0.86);
  }
  60% {
    transform: translateX(45vw) translateY(-38vh) scale(0.67);
  }
  70% {
    transform: translateX(-36vw) translateY(16vh) scale(0.73);
  }
  80% {
    transform: translateX(3vw) translateY(24vh) scale(0.83);
  }
  90% {
    transform: translateX(18vw) translateY(-17vh) scale(0.67);
  }
  100% {
    transform: translateX(-7vw) translateY(45vh) scale(0.66);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 17s;
}
.firefly:nth-child(3)::after {
  animation-duration: 17s, 10880ms;
  animation-delay: 0ms, 1776ms;
}

@keyframes move3 {
  0% {
    transform: translateX(-16vw) translateY(-33vh) scale(0.27);
  }
  8.3333333333% {
    transform: translateX(-31vw) translateY(3vh) scale(0.85);
  }
  16.6666666667% {
    transform: translateX(-6vw) translateY(46vh) scale(0.59);
  }
  25% {
    transform: translateX(-28vw) translateY(-26vh) scale(0.53);
  }
  33.3333333333% {
    transform: translateX(-37vw) translateY(-7vh) scale(0.69);
  }
  41.6666666667% {
    transform: translateX(27vw) translateY(-12vh) scale(0.26);
  }
  50% {
    transform: translateX(-9vw) translateY(-48vh) scale(0.61);
  }
  58.3333333333% {
    transform: translateX(-6vw) translateY(-31vh) scale(0.48);
  }
  66.6666666667% {
    transform: translateX(32vw) translateY(-36vh) scale(0.94);
  }
  75% {
    transform: translateX(-19vw) translateY(50vh) scale(0.73);
  }
  83.3333333333% {
    transform: translateX(-37vw) translateY(-25vh) scale(0.26);
  }
  91.6666666667% {
    transform: translateX(45vw) translateY(50vh) scale(0.31);
  }
  100% {
    transform: translateX(-21vw) translateY(22vh) scale(0.41);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 11s;
}
.firefly:nth-child(4)::after {
  animation-duration: 11s, 6639ms;
  animation-delay: 0ms, 2610ms;
}

@keyframes move4 {
  0% {
    transform: translateX(45vw) translateY(-42vh) scale(0.63);
  }
  7.1428571429% {
    transform: translateX(-45vw) translateY(-49vh) scale(0.97);
  }
  14.2857142857% {
    transform: translateX(-32vw) translateY(23vh) scale(0.63);
  }
  21.4285714286% {
    transform: translateX(-2vw) translateY(-14vh) scale(0.58);
  }
  28.5714285714% {
    transform: translateX(40vw) translateY(-18vh) scale(0.61);
  }
  35.7142857143% {
    transform: translateX(-47vw) translateY(34vh) scale(0.54);
  }
  42.8571428571% {
    transform: translateX(-25vw) translateY(-2vh) scale(0.42);
  }
  50% {
    transform: translateX(-3vw) translateY(-36vh) scale(0.5);
  }
  57.1428571429% {
    transform: translateX(0vw) translateY(4vh) scale(0.56);
  }
  64.2857142857% {
    transform: translateX(44vw) translateY(15vh) scale(0.79);
  }
  71.4285714286% {
    transform: translateX(0vw) translateY(-20vh) scale(0.71);
  }
  78.5714285714% {
    transform: translateX(41vw) translateY(1vh) scale(0.92);
  }
  85.7142857143% {
    transform: translateX(6vw) translateY(-3vh) scale(0.7);
  }
  92.8571428571% {
    transform: translateX(-8vw) translateY(17vh) scale(0.53);
  }
  100% {
    transform: translateX(-5vw) translateY(18vh) scale(0.62);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 15s;
}
.firefly:nth-child(5)::after {
  animation-duration: 15s, 10858ms;
  animation-delay: 0ms, 5288ms;
}

@keyframes move5 {
  0% {
    transform: translateX(-11vw) translateY(13vh) scale(0.65);
  }
  11.1111111111% {
    transform: translateX(-29vw) translateY(37vh) scale(0.5);
  }
  22.2222222222% {
    transform: translateX(-47vw) translateY(-42vh) scale(0.91);
  }
  33.3333333333% {
    transform: translateX(0vw) translateY(-14vh) scale(0.28);
  }
  44.4444444444% {
    transform: translateX(10vw) translateY(21vh) scale(0.67);
  }
  55.5555555556% {
    transform: translateX(-19vw) translateY(41vh) scale(0.84);
  }
  66.6666666667% {
    transform: translateX(-32vw) translateY(22vh) scale(0.42);
  }
  77.7777777778% {
    transform: translateX(6vw) translateY(-29vh) scale(0.78);
  }
  88.8888888889% {
    transform: translateX(7vw) translateY(-6vh) scale(0.64);
  }
  100% {
    transform: translateX(-23vw) translateY(13vh) scale(0.69);
  }
}
.firefly:nth-child(6) {
  animation-name: move6;
}
.firefly:nth-child(6)::before {
  animation-duration: 12s;
}
.firefly:nth-child(6)::after {
  animation-duration: 12s, 9469ms;
  animation-delay: 0ms, 3614ms;
}

@keyframes move6 {
  0% {
    transform: translateX(35vw) translateY(-21vh) scale(0.87);
  }
  11.1111111111% {
    transform: translateX(21vw) translateY(-17vh) scale(0.35);
  }
  22.2222222222% {
    transform: translateX(19vw) translateY(-6vh) scale(0.64);
  }
  33.3333333333% {
    transform: translateX(1vw) translateY(44vh) scale(0.62);
  }
  44.4444444444% {
    transform: translateX(-24vw) translateY(36vh) scale(0.29);
  }
  55.5555555556% {
    transform: translateX(-17vw) translateY(4vh) scale(0.51);
  }
  66.6666666667% {
    transform: translateX(-9vw) translateY(2vh) scale(0.52);
  }
  77.7777777778% {
    transform: translateX(-44vw) translateY(39vh) scale(0.57);
  }
  88.8888888889% {
    transform: translateX(17vw) translateY(42vh) scale(0.92);
  }
  100% {
    transform: translateX(29vw) translateY(-11vh) scale(0.86);
  }
}
.firefly:nth-child(7) {
  animation-name: move7;
}
.firefly:nth-child(7)::before {
  animation-duration: 11s;
}
.firefly:nth-child(7)::after {
  animation-duration: 11s, 6848ms;
  animation-delay: 0ms, 1209ms;
}

@keyframes move7 {
  0% {
    transform: translateX(-46vw) translateY(46vh) scale(0.93);
  }
  7.1428571429% {
    transform: translateX(26vw) translateY(37vh) scale(0.68);
  }
  14.2857142857% {
    transform: translateX(28vw) translateY(17vh) scale(0.37);
  }
  21.4285714286% {
    transform: translateX(-15vw) translateY(35vh) scale(0.95);
  }
  28.5714285714% {
    transform: translateX(-1vw) translateY(-26vh) scale(0.31);
  }
  35.7142857143% {
    transform: translateX(-44vw) translateY(-29vh) scale(0.5);
  }
  42.8571428571% {
    transform: translateX(11vw) translateY(-22vh) scale(0.81);
  }
  50% {
    transform: translateX(-6vw) translateY(15vh) scale(0.82);
  }
  57.1428571429% {
    transform: translateX(3vw) translateY(25vh) scale(0.76);
  }
  64.2857142857% {
    transform: translateX(42vw) translateY(32vh) scale(0.67);
  }
  71.4285714286% {
    transform: translateX(-34vw) translateY(-14vh) scale(0.67);
  }
  78.5714285714% {
    transform: translateX(44vw) translateY(0vh) scale(0.53);
  }
  85.7142857143% {
    transform: translateX(-10vw) translateY(10vh) scale(0.89);
  }
  92.8571428571% {
    transform: translateX(35vw) translateY(4vh) scale(0.75);
  }
  100% {
    transform: translateX(19vw) translateY(-38vh) scale(0.33);
  }
}
.firefly:nth-child(8) {
  animation-name: move8;
}
.firefly:nth-child(8)::before {
  animation-duration: 11s;
}
.firefly:nth-child(8)::after {
  animation-duration: 11s, 8782ms;
  animation-delay: 0ms, 4275ms;
}

@keyframes move8 {
  0% {
    transform: translateX(43vw) translateY(22vh) scale(0.41);
  }
  8.3333333333% {
    transform: translateX(-19vw) translateY(-10vh) scale(0.7);
  }
  16.6666666667% {
    transform: translateX(16vw) translateY(30vh) scale(0.88);
  }
  25% {
    transform: translateX(18vw) translateY(-12vh) scale(0.43);
  }
  33.3333333333% {
    transform: translateX(13vw) translateY(-10vh) scale(0.84);
  }
  41.6666666667% {
    transform: translateX(24vw) translateY(12vh) scale(0.52);
  }
  50% {
    transform: translateX(-34vw) translateY(-43vh) scale(0.8);
  }
  58.3333333333% {
    transform: translateX(33vw) translateY(-35vh) scale(0.82);
  }
  66.6666666667% {
    transform: translateX(-47vw) translateY(30vh) scale(0.84);
  }
  75% {
    transform: translateX(27vw) translateY(18vh) scale(0.99);
  }
  83.3333333333% {
    transform: translateX(31vw) translateY(-40vh) scale(0.77);
  }
  91.6666666667% {
    transform: translateX(50vw) translateY(42vh) scale(0.32);
  }
  100% {
    transform: translateX(-44vw) translateY(-12vh) scale(0.44);
  }
}
.firefly:nth-child(9) {
  animation-name: move9;
}
.firefly:nth-child(9)::before {
  animation-duration: 10s;
}
.firefly:nth-child(9)::after {
  animation-duration: 10s, 6130ms;
  animation-delay: 0ms, 3078ms;
}

@keyframes move9 {
  0% {
    transform: translateX(45vw) translateY(38vh) scale(0.87);
  }
  9.0909090909% {
    transform: translateX(12vw) translateY(-16vh) scale(0.86);
  }
  18.1818181818% {
    transform: translateX(23vw) translateY(-35vh) scale(0.29);
  }
  27.2727272727% {
    transform: translateX(49vw) translateY(-39vh) scale(0.42);
  }
  36.3636363636% {
    transform: translateX(28vw) translateY(30vh) scale(0.76);
  }
  45.4545454545% {
    transform: translateX(-34vw) translateY(-37vh) scale(0.39);
  }
  54.5454545455% {
    transform: translateX(14vw) translateY(-42vh) scale(0.93);
  }
  63.6363636364% {
    transform: translateX(32vw) translateY(23vh) scale(0.57);
  }
  72.7272727273% {
    transform: translateX(-18vw) translateY(25vh) scale(0.26);
  }
  81.8181818182% {
    transform: translateX(1vw) translateY(-15vh) scale(0.27);
  }
  90.9090909091% {
    transform: translateX(-9vw) translateY(-35vh) scale(0.75);
  }
  100% {
    transform: translateX(-47vw) translateY(-8vh) scale(0.79);
  }
}
.firefly:nth-child(10) {
  animation-name: move10;
}
.firefly:nth-child(10)::before {
  animation-duration: 13s;
}
.firefly:nth-child(10)::after {
  animation-duration: 13s, 6062ms;
  animation-delay: 0ms, 8446ms;
}

@keyframes move10 {
  0% {
    transform: translateX(2vw) translateY(25vh) scale(0.35);
  }
  11.1111111111% {
    transform: translateX(12vw) translateY(-16vh) scale(1);
  }
  22.2222222222% {
    transform: translateX(-37vw) translateY(36vh) scale(0.76);
  }
  33.3333333333% {
    transform: translateX(-20vw) translateY(6vh) scale(0.51);
  }
  44.4444444444% {
    transform: translateX(-9vw) translateY(-33vh) scale(0.84);
  }
  55.5555555556% {
    transform: translateX(26vw) translateY(-19vh) scale(0.93);
  }
  66.6666666667% {
    transform: translateX(-29vw) translateY(12vh) scale(0.57);
  }
  77.7777777778% {
    transform: translateX(-28vw) translateY(-15vh) scale(0.96);
  }
  88.8888888889% {
    transform: translateX(46vw) translateY(-4vh) scale(0.34);
  }
  100% {
    transform: translateX(48vw) translateY(-4vh) scale(0.92);
  }
}
.firefly:nth-child(11) {
  animation-name: move11;
}
.firefly:nth-child(11)::before {
  animation-duration: 17s;
}
.firefly:nth-child(11)::after {
  animation-duration: 17s, 6592ms;
  animation-delay: 0ms, 840ms;
}

@keyframes move11 {
  0% {
    transform: translateX(49vw) translateY(50vh) scale(0.3);
  }
  11.1111111111% {
    transform: translateX(0vw) translateY(9vh) scale(0.77);
  }
  22.2222222222% {
    transform: translateX(-18vw) translateY(14vh) scale(0.94);
  }
  33.3333333333% {
    transform: translateX(12vw) translateY(41vh) scale(0.62);
  }
  44.4444444444% {
    transform: translateX(-49vw) translateY(44vh) scale(0.67);
  }
  55.5555555556% {
    transform: translateX(-13vw) translateY(-21vh) scale(0.42);
  }
  66.6666666667% {
    transform: translateX(-24vw) translateY(-10vh) scale(0.45);
  }
  77.7777777778% {
    transform: translateX(-8vw) translateY(-18vh) scale(0.35);
  }
  88.8888888889% {
    transform: translateX(-3vw) translateY(25vh) scale(0.46);
  }
  100% {
    transform: translateX(47vw) translateY(17vh) scale(0.66);
  }
}
.firefly:nth-child(12) {
  animation-name: move12;
}
.firefly:nth-child(12)::before {
  animation-duration: 14s;
}
.firefly:nth-child(12)::after {
  animation-duration: 14s, 10868ms;
  animation-delay: 0ms, 4426ms;
}

@keyframes move12 {
  0% {
    transform: translateX(32vw) translateY(32vh) scale(0.82);
  }
  9.0909090909% {
    transform: translateX(-25vw) translateY(20vh) scale(0.3);
  }
  18.1818181818% {
    transform: translateX(-48vw) translateY(2vh) scale(0.74);
  }
  27.2727272727% {
    transform: translateX(-28vw) translateY(-26vh) scale(0.66);
  }
  36.3636363636% {
    transform: translateX(-16vw) translateY(-35vh) scale(0.9);
  }
  45.4545454545% {
    transform: translateX(26vw) translateY(-44vh) scale(0.88);
  }
  54.5454545455% {
    transform: translateX(-36vw) translateY(15vh) scale(0.87);
  }
  63.6363636364% {
    transform: translateX(26vw) translateY(31vh) scale(0.68);
  }
  72.7272727273% {
    transform: translateX(20vw) translateY(6vh) scale(0.75);
  }
  81.8181818182% {
    transform: translateX(20vw) translateY(-21vh) scale(0.42);
  }
  90.9090909091% {
    transform: translateX(13vw) translateY(-42vh) scale(0.83);
  }
  100% {
    transform: translateX(34vw) translateY(41vh) scale(0.47);
  }
}
.firefly:nth-child(13) {
  animation-name: move13;
}
.firefly:nth-child(13)::before {
  animation-duration: 15s;
}
.firefly:nth-child(13)::after {
  animation-duration: 15s, 8984ms;
  animation-delay: 0ms, 6281ms;
}

@keyframes move13 {
  0% {
    transform: translateX(13vw) translateY(-4vh) scale(0.89);
  }
  7.1428571429% {
    transform: translateX(37vw) translateY(-34vh) scale(0.26);
  }
  14.2857142857% {
    transform: translateX(9vw) translateY(-28vh) scale(0.6);
  }
  21.4285714286% {
    transform: translateX(19vw) translateY(-48vh) scale(0.79);
  }
  28.5714285714% {
    transform: translateX(31vw) translateY(37vh) scale(0.58);
  }
  35.7142857143% {
    transform: translateX(-4vw) translateY(12vh) scale(0.78);
  }
  42.8571428571% {
    transform: translateX(-18vw) translateY(17vh) scale(0.97);
  }
  50% {
    transform: translateX(-45vw) translateY(-33vh) scale(0.73);
  }
  57.1428571429% {
    transform: translateX(-11vw) translateY(-24vh) scale(0.36);
  }
  64.2857142857% {
    transform: translateX(23vw) translateY(43vh) scale(0.78);
  }
  71.4285714286% {
    transform: translateX(-30vw) translateY(-23vh) scale(0.3);
  }
  78.5714285714% {
    transform: translateX(-3vw) translateY(-34vh) scale(0.44);
  }
  85.7142857143% {
    transform: translateX(-2vw) translateY(3vh) scale(0.58);
  }
  92.8571428571% {
    transform: translateX(-35vw) translateY(-20vh) scale(0.72);
  }
  100% {
    transform: translateX(-27vw) translateY(-37vh) scale(0.33);
  }
}
.firefly:nth-child(14) {
  animation-name: move14;
}
.firefly:nth-child(14)::before {
  animation-duration: 12s;
}
.firefly:nth-child(14)::after {
  animation-duration: 12s, 7796ms;
  animation-delay: 0ms, 6912ms;
}

@keyframes move14 {
  0% {
    transform: translateX(-43vw) translateY(-8vh) scale(0.6);
  }
  11.1111111111% {
    transform: translateX(46vw) translateY(17vh) scale(0.63);
  }
  22.2222222222% {
    transform: translateX(-31vw) translateY(-28vh) scale(0.6);
  }
  33.3333333333% {
    transform: translateX(44vw) translateY(27vh) scale(0.47);
  }
  44.4444444444% {
    transform: translateX(22vw) translateY(-20vh) scale(0.59);
  }
  55.5555555556% {
    transform: translateX(37vw) translateY(-17vh) scale(0.28);
  }
  66.6666666667% {
    transform: translateX(2vw) translateY(40vh) scale(0.85);
  }
  77.7777777778% {
    transform: translateX(23vw) translateY(47vh) scale(0.38);
  }
  88.8888888889% {
    transform: translateX(-38vw) translateY(48vh) scale(0.58);
  }
  100% {
    transform: translateX(50vw) translateY(0vh) scale(0.57);
  }
}
.firefly:nth-child(15) {
  animation-name: move15;
}
.firefly:nth-child(15)::before {
  animation-duration: 9s;
}
.firefly:nth-child(15)::after {
  animation-duration: 9s, 10678ms;
  animation-delay: 0ms, 8163ms;
}

@keyframes move15 {
  0% {
    transform: translateX(47vw) translateY(20vh) scale(0.52);
  }
  8.3333333333% {
    transform: translateX(-5vw) translateY(-13vh) scale(0.75);
  }
  16.6666666667% {
    transform: translateX(32vw) translateY(-42vh) scale(0.87);
  }
  25% {
    transform: translateX(8vw) translateY(0vh) scale(0.83);
  }
  33.3333333333% {
    transform: translateX(-9vw) translateY(-49vh) scale(0.53);
  }
  41.6666666667% {
    transform: translateX(29vw) translateY(-1vh) scale(0.96);
  }
  50% {
    transform: translateX(-14vw) translateY(36vh) scale(0.44);
  }
  58.3333333333% {
    transform: translateX(-14vw) translateY(33vh) scale(0.54);
  }
  66.6666666667% {
    transform: translateX(1vw) translateY(-45vh) scale(0.27);
  }
  75% {
    transform: translateX(2vw) translateY(20vh) scale(0.46);
  }
  83.3333333333% {
    transform: translateX(-2vw) translateY(40vh) scale(0.86);
  }
  91.6666666667% {
    transform: translateX(49vw) translateY(43vh) scale(0.45);
  }
  100% {
    transform: translateX(27vw) translateY(-35vh) scale(0.93);
  }
}
@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw #ffd700;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw #ffd700;
  }
}
