.imageBar::before {
  content: attr(data-title);
  position: absolute;
  top: -10%; /* Adjust this to place the text where you want it */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
}

.imageBar.selected::before {
  opacity: 1;
}
