@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-mottona;
  }
  h2 {
    @apply font-newspaper;
  }
  h3 {
    @apply font-literata;
  }
  p {
    @apply font-nunito;
  }
}

.fullscreenImage {
  @apply h-screen w-screen object-cover object-center will-change-transform;
}

/* @keyframes scroller {
  0% {
    bottom: 34px;
  }
  5% {
    top: 4px;
  }
  32% {
    bottom: 4px;
  }
  66% {
    top: 34px;
    bottom: 4px;
  }
  100% {
    top: 4px;
    bottom: 34px;
  }
} */

@keyframes scroll-down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

.scroll-down {
  animation: scroll-down 2s infinite;
}

.brush-text {
  background: linear-gradient(100deg, #501d00, #5e3e06, #562200, #501d00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* filter: contrast(1.4) brightness(0.8); */
}

.text-stroke {
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
  -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 1);
  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
