@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-mottona;
  }
  h2 {
    @apply font-newspaper;
  }
  h3 {
    @apply font-literata;
  }
  p {
    @apply font-nunito;
  }
}

.fullscreenImage {
  @apply h-screen w-screen object-cover object-center will-change-transform;
}

@keyframes scroll-down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

.scroll-down {
  animation: scroll-down 2s infinite;
}

.brush-text {
  background: linear-gradient(100deg, #501d00, #5e3e06, #562200, #501d00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* filter: contrast(1.4) brightness(0.8); */
}

.text-stroke {
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
  -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 1);
  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

/* PhotoSwipe Custom Caption Styling */
.pswp__custom-caption {
  background: rgba(
    0,
    0,
    0,
    0.7
  ); /* Semi-transparent black for better readability */
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  text-align: center;
  max-width: 80%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  line-height: 1.4;
}

.pswp__custom-caption a {
  color: #ffd700;
  text-decoration: none;
  font-weight: bold;
}
