@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-mottona;
  }
  h2 {
    @apply font-newspaper;
  }
  h3 {
    @apply font-literata;
  }
  p {
    @apply font-nunito;
  }
}

.fullscreenImage {
  @apply h-screen w-screen object-cover object-center will-change-transform;
}

@keyframes scroller {
  0% {
    bottom: 34px;
  }
  5% {
    top: 4px;
  }
  32% {
    bottom: 4px;
  }
  66% {
    top: 34px;
    bottom: 4px;
  }
  100% {
    top: 4px;
    bottom: 34px;
  }
}

.link2 {
  @apply relative no-underline before:content-[''] before:absolute before:w-full before:h-[1px] before:rounded before:bg-[#18272F] before:origin-right before:transition-transform before:duration-[0.3s] before:ease-[ease-in-out] before:scale-x-0 before:left-0 before:bottom-0 hover:before:origin-left hover:before:scale-x-100;
}

.btn-4 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-4:hover {
  border: 1px solid;
  box-shadow:
    inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow:
    inset 0 0 20px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(0, 0, 0, 0.2);
  outline-color: rgba(0, 0, 0, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.circle-text {
  position: relative;
  width: 250px;
  height: 125px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.circle-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: 125px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  border-right: 0;
  transform-origin: 0 0;
  transform: rotate(-45deg);
}

.circle-text > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-size: 1.5em;
}

/* Adjustments for each individual character */
.circle-text::before {
  content: "Les Amis de";
  writing-mode: vertical-rl;
  transform: rotate(90deg);
  letter-spacing: 15px;
}
