@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-mottona;
  }
  h2 {
    @apply font-newspaper;
  }
  h3 {
    @apply font-literata;
  }
  p {
    @apply font-nunito;
  }
}

.fullscreenImage {
  @apply h-screen w-screen object-cover object-center will-change-transform;
}

@keyframes scroller {
  0% {
    bottom: 34px;
  }
  5% {
    top: 4px;
  }
  32% {
    bottom: 4px;
  }
  66% {
    top: 34px;
    bottom: 4px;
  }
  100% {
    top: 4px;
    bottom: 34px;
  }
}

@keyframes scroll-down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

.scroll-down {
  animation: scroll-down 2s infinite; /* 2s duration and infinite loop, adjust as needed */
}

.start-button {
  pointer-events: auto;
  cursor: pointer;
  padding: 1.5rem 3rem;
  position: relative;
  display: inline-block;
}

.start-button::before,
.start-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.start-button {
  width: 175px;
  height: 120px;
  color: #fff; /* text on hover color */
  background: none;
}

.start-button::before {
  content: "";
  background: #e7e5e4; /* button background color */
  -webkit-clip-path: path(
    "M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z"
  );
  clip-path: path(
    "M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z"
  );
  transition:
    clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55),
    -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55),
    background 0.5s ease;
}

.start-button:hover::before {
  background: #020617; /* button on hover background color */
  -webkit-clip-path: path(
    "M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z"
  );
  clip-path: path(
    "M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z"
  );
}

.start-button::after {
  content: "";
  height: 86%;
  width: 97%;
  top: 5%;
  border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
  border: 1px solid #000; /* below border color */
  transform: rotate(-20deg);
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
}

.start-button:hover::after {
  transform: translate3d(0, -5px, 0);
}

.start-button span {
  display: block;
  transition: transform 0.3s ease;
  mix-blend-mode: difference;
}

.start-button:hover span {
  transform: translate3d(0, -10px, 0);
}

/* Dark theme */
.dark .start-button {
  color: #000;
}

.dark .start-button::before {
  background: #3f3f46;
}

.dark .start-button:hover::before {
  background: #f1f5f9;
}

.dark .start-button::after {
  border: 1px solid #fff;
}

.brush-text {
  background: linear-gradient(120deg, #5a2800, #7a4009, #b06700);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: contrast(1.4) brightness(0.8);
}
