.grid-wrapper {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.grid-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(30, 1fr);
}

@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid__item {
  position: relative;
  will-change: transform;
  grid-column: var(--c);
  grid-row: var(--r);
}

.grid__item-img {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  background-size: cover;
  background-position: 50% 50%;
  will-change: transform, opacity;
}
