.mapboxgl-popup {
  opacity: 0;
  animation: fadeInPopup 0.5s forwards;
}

.mapboxgl-popup-close-button {
  @apply px-2 py-1 text-lg;
}

@keyframes fadeInPopup {
  to {
    opacity: 1;
  }
}

.mapboxgl-popup .mapboxgl-popup-content {
  @apply bg-main text-main text-sm font-caveat;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: var(--bg-main) !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--bg-main) !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--bg-main) !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--bg-main) !important;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: var(--bg-main) !important;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: var(--bg-main) !important;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: var(--bg-main) !important;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: var(--bg-main) !important;
}

.mapboxgl-popup-content h3 {
  @apply mb-2 mr-4;
}

.mapboxgl-popup-content p {
  @apply text-sm mb-1;
}

.mapboxgl-popup-content a {
  @apply mt-4 text-sky-500 font-caveat hover:text-sky-600 transition-colors duration-200 ease-in-out text-lg relative no-underline before:content-[''] before:absolute before:w-full before:h-[1px] before:rounded before:bg-sky-500 before:origin-right before:transition-transform before:duration-[0.3s] before:ease-[ease-in-out] before:scale-x-0 before:left-0 before:bottom-0 hover:before:origin-left hover:before:scale-x-100;
}

.marker-tag {
  @apply text-black font-caveat rounded-sm mb-1 px-1.5 py-0.5 w-fit -rotate-6;
}
